
@font-face {
    font-family:'MrAlex-Bold';
    src: url('../font/MrAlex-Bold.ttf');
}

@font-face {
    font-family:'Inter-Bold';
    src: url('../font/Inter-Bold.ttf');
}

@font-face {
    font-family:'simula_Book';
    src: url('../font/simula_Book.otf');
}


@font-face {
    font-family:'Heebo-Regular';
    src: url('../font/Heebo-Regular.ttf');
}

